/*questions*/

.FAQ, .FAQ1, .FAQ2, .FAQ3, .FAQ4, .FAQ5, .FAQ6, .FAQ7, .FAQ8, .FAQ9, .FAQ10, .FAQ11, .FAQ12, .FAQ13, .FAQ14, .FAQ15, .FAQ16, .FAQ17, .FAQ18, .FAQ19 { cursor:hand; cursor:pointer; margin-top: 25px; margin-left: 80px; font-family: 'Open Sans Condensed', sans-serif; font-size: 20px; font: bold;
      }
 .FAQ, .FAA1, .FAA2, .FAA3, .FAA4, .FAA5, .FAA6, .FAA7, .FAA8, .FAA9, .FAA10, .FAA11, .FAA12, .FAA13, .FAA14, .FAA15, .FAA16, .FAA17, .FAA18, .FAA19 { display:none; margin-top: 10px;
  margin-left: 20px; margin-right: 40px; font-size: 16px; font-family: 'Open Sans Condensed', sans-serif;}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    cursor: pointer;
    color: #c2bd8f;
}

b:hover {
    border-bottom: .5px solid black;
}


/*logo*/

.gwlogo {
  padding-top: 2.5%;
  padding-bottom: 1.5%;
  margin-left: 20%;
  margin-right: 20%;
}

#gw-logo {
  display: block;
  margin: 0 auto;
  width:60%;
  max-width: 300px;
}


/*navigation*/

ul li {
  display: inline;
}

hr {
  height: .20rem;
  width: 25%;
  margin: 0;
  background: #67bdb3;
  border: none;
  transition: .3s ease-in-out;
  margin-top: -50px;
  z-index: 1;
}

/*body*/

h2 {
    font-family: 'Open Sans Condensed', sans-serif;
    margin-left: -10px;
    margin-top: -10px;
    margin-bottom: 100px;
    position: relative;
    font-size: 42px;
    z-index: 1;
    overflow: hidden;
    text-align: center;
    /*color: #69f2a8;*/
}

h2:before, h2:after {
    position: absolute;
    top: 51%;
    overflow: hidden;
    width: 48%;
    height: 1px;
    content: '\a0';
    background-color: black;
}

h2:before {
    margin-left: -48%;
    text-align: right;
}

.color {
    background-color: #ccc;
}

hr {
    margin-top: 175px;
    height: 1px;
}


#image{
  float:left; /* important */
  position:relative; /* important(so we can absolutely position the description div */
}

/*navigation*/

.main-nav ul  {
    width:80%;
    margin-left: 10%;
    margin-right:10%;
    padding-right: 20%;
}
.main-nav ul li{
    display:inline;
    text-align: center;
    padding-right: 10%;
    white-space: nowrap;
    /*font-family: "avenir next", sans-serif;
    font-weight: bold;*/
}

.main-nav {
    padding-top: 3%;
    margin-left: 40px;
}

hr {
  height: .20rem;
  width: 25%;
  margin: 0;
  background: #67bdb3;
  border: none;
  transition: .3s ease-in-out;
}

/*logo*/


.gwlogo {
  padding-top: 2.5%;
  padding-bottom: 1.5%;
  margin-left: 20%;
  margin-right: 20%;
}


#gw-logo {
  display: block;
  margin: 0 auto;
  width:60%;
  max-width: 300px;
}

/*footer*/

.bottom_tabs {
    float: left;
    font-size: 20px;
    letter-spacing: 2px;
    font-family: 'Open Sans Condensed', sans-serif;
    margin-left: 60px;
   /* border-right: 1px solid;
    border-right: background: #67bdb3; padding-right: 15px; margin-top: 10px; height: 30px;*/
}


.bottom_tabs:hover {
    cursor: pointer;
    color: #c2bd8f;
}


#move {
    float: right;
    margin-right: 130px;
    margin-top: 100px;
    margin-bottom: 50px;
    background-color: #c2bd8f;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    cursor: pointer;
}

u {
    text-decoration: none;
}

* {
  font-family: 'avenir next';
    margin:0;
    padding:0;
    box-sizing:border-box;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-font-smoothing:antialiased;
    -moz-font-smoothing:antialiased;
    -o-font-smoothing:antialiased;
    font-smoothing:antialiased;
    text-rendering:optimizeLegibility;
  box-sizing: border-box;
}

.container {
  margin-top: 20%;
  margin-left: 60%;
  width: 50%;
  margin: 0 auto;
}

ul li {
  display: inline;
  text-align: center;
}

.body-container {
  width: 100%;
}

.tab {
  display: inline-block;
  width: 25%;
  padding: .75rem 0;
  margin: 0;
  text-decoration: none;
  color: #333;
}
.two:hover ~ hr {
  margin-left: 25%;
}
.three:hover ~ hr {
  margin-left: 50%;
}
.four:hover ~ hr {
  margin-left: 75%;
}
.bottom_tabs{
  display: inline-block;
  position: relative;
  padding-bottom: 3px;
}
.bottom_tabs:after {
  content: '';
  display: block;
  margin: auto;
  height: 3px;
  width: 0px;
  background: transparent;
  transition: width .5s ease, background-color .5s ease;
}
.bottom_tabs:hover:after {
  width: 100%;
  background: #67bdb3;
}

#button {
  font-size: 20px;
  cursor: pointer;
  width: 100px;
  margin-left: 112px;
  margin-top: 5px;
  float: left;
  z-index: 1;
}

#box {
  border: 1px solid black;
  text-align: center;
  margin-top: 10px;
  margin-left: 72px;
  width: 200px;
  height: 50px;
  z-index: -1;
}

#subscribe {
  margin-top: 60px;
  font-size: 20px;
  margin-left: 40px;
  margin-right: 460px;
  text-align: center;
}

#shift_button {
  margin-right: 10px;
}

#mc_embed_signup {
  margin-top: 200px;
  background-color: #c2bd8f;
  opacity: .8;
  height: 300px;
  margin-left: 50px;
  margin-right: 0px;
  padding-top: 5px;
  padding-bottom: 500px;
  padding-left: 20px;
  margin-left: -20px;
  z-index: -1;
  -webkit-box-shadow: 0 0 10px #fff;
        box-shadow: 0 0 10px #fff;}

.icon1 {
  width: 40px;
  height: auto;
  margin-top: 100px;
}

.icon2 {
  width: 38px;
  height: auto
  margin-top: 100px;
}

.icon3 {
  width: 33px;
  height: auto;
  margin-left: 4px;
  margin-top: 100;
}

.icon1:hover {
  text-decoration: underline;
}

#move_icon {
  float: left;
  margin-top: -100px;
  margin-left: 320px;
}

#subscribe_info {
  font-family: 'avenir next';
  font-size: 18px;
  margin-left: 5px;
}
