<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<style>
.mySlides {display:none;}
.w3-left, .w3-right, .w3-badge {cursor:pointer}
.w3-badge {height:13px;width:13px;padding:0}

/*MEET THE COVEN IMAGE*/
#center_image {
  text-align: center;
}

#origins_text {
  font-family: 'Montserrat', sans-serif; 
  font-size: 20px; 
  text-align: justify; 
  margin-top: 5%;
  margin-left: 10%;
  margin-right: 10%;
}

#philosophy_text {
  font-family: 'Montserrat', sans-serif; 
  font-size: 20px; 
  text-align: justify; 
  margin-top: 5%;
  margin-left: 10%;
  margin-right: 10%;
}

#origins_title {
  text-align: center;
  padding-top: 3%;
  margin-top: -5%;
  margin-bottom: 0%;
  font-family: "avenir next", sans-serif;
  font-size: 36px;
  color: #C19620;
  font-weight: bold;
}

#philosophy_title_again {
  text-align: center;
  margin-top: 10%;
  padding-top: 3%;
  margin-bottom: 0%;
  font-family: "avenir next", sans-serif;
  font-size: 36px;
  color: #C19620;
  font-weight: bold;
}

#center_this_banner {
  text-align: center;
}

.origin_banner {
  width: 50%;
  height: auto;
  margin-bottom: -5%;
}

#background_for_philosophy {
  padding-bottom: 2%;
  background: rgb(25,247,255,0.15);
  z-index: -100000;
}

#background_for_origins {
  padding-bottom: 2%;
  background: rgb(25,247,255,0.15);
  z-index: -100000;
}



@media screen and (max-width : 414px){

body {
  width: 100%;
  margin-right: 13%;
}

.slideshow-container {
  width: 100%;
  position: relative;
  margin-left: -7px;
  margin-top: -20%;
}

#first_pic {
  width: 100%;
  margin-bottom: 20%;
}

#inspiration {
  padding-top: 25%;
}

.banner {
  width: 100%;
  height: auto;
}

#label {
  display: none;
}

#philosophy_text {
  font-family: 'Montserrat', sans-serif; 
  font-size: 16px; 
  text-align: justify; 
  margin-top: 5%;
  margin-left: 10%;
  margin-right: 10%;
}

#origins_text {
  font-family: 'Montserrat', sans-serif; 
  font-size: 16px; 
  text-align: justify; 
  margin-top: 5%;
  margin-left: 10%;
  margin-right: 10%;
}

#origins_title {
  text-align: center;
  margin-top: -5%;
  padding-top: 0%;
  margin-bottom: 0%;
  font-weight: 200;
  font-family: "avenir next", sans-serif;
  font-size: 36px;
  color: #67bdb3;
}


}

</style>

<body>

<div id="background_for_origins">
<p id="origins_title">ORIGINS</p>


<p id="origins_text">Our coven was formed through a shared belief in the power of herbs, spices, and minerals, to promote all types of wellness. 
While we craft out of Dumbo (Down Under the Manhattan Bridge Overpass) We are boundless when sourcing products that are organically grown, non-GMO, and pure.</p>
</div>

<div id="center_this_banner">
<%= image_tag("origin.jpg", :class => "origin_banner") %>
</div>

<div id="background_for_philosophy">
<p id="philosophy_title_again">PHILOSOPHY</p>

<p id="philosophy_text" style="z-index: 10000;"><b>Green Witches</b> know that nature is the highest form of luxury - we opt for the holistic route as a first resort - not a last one. We draw from ancient wisdoms across different eras and combine it with modern research to truly balance and heal. </p>
</div>

</body>
