<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<style>
.mySlides {display:none;}
.w3-left, .w3-right, .w3-badge {cursor:pointer}
.w3-badge {height:13px;width:13px;padding:0}


#move_this {
  width: 100%;
margin-top: -10%;
margin-left: 4%;
margin-right: 8%;
padding-bottom: 1%;
clear: right;
}

#center_text {
  text-align: center;
}

#banner {
  width: 100%;
  height: auto;
  margin-top: -5%;
}

#home_text_heading {
  font-size: 20px;
  font-family: cursive;
  color: #67bdb3;
  text-align: center;
  font-weight: 100;
  margin-top: -8%;
}

#home_text {
  font-size: 28px;
  font-family: "avenir next", sans-serif;
  color: #67bdb3;
  font-weight: 100;
  margin-top: 5%;
  margin-left: 10%;
  margin-right: 15%;
  text-align: left;
}

#center_image {
  text-align: center;
}


</style>
<body>

<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>



@media screen and (max-width : 414px){

body {
  width: 100%;
}

.sidenav {
  display: block;
}


#inspiration {
  padding-top: 0%;
  margin-left: -5%;
}

#banner {
  width: 100%;
  height: auto;
  display: block;
}


.slider-wrapper {
  width: 100%;
  height: 20px;
  margin-top: -18px;
  position: relative;
}

#side_bar {
  display: block;
}

/*CUT THE WHITE SPACE ABOVE "WANT TO HEAR MORE"*/
#center_title {
  text-align: center;
}

li {
  margin-left: -15%;
}
}

@media screen and (max-width : 680px){

#inspiration {
  clear: left;
}

.something {
  margin-left: -25%;
  margin-top: 15%;
}

.something_2 {
  margin-left: -25%;
  margin-top: 15%;
}

.something_3 {
  margin-left: -25%;
  margin-top: 15%;
}

.something_else {
  margin-left: -25%;
  margin-top: 15%;
}

.something_else_2 {
  margin-left: -25%;
  margin-top: 15%;
}

.something_else_3 {
  margin-left: -25%;
  margin-top: 15%;
}
}

@media screen and (max-width : 802px){
#span {
  display: block;
  width: 35px;
  height: 3px;
  background-color: black;
  margin: 6px 0;
  cursor: pointer;
}

#hamburger {
  margin-top: 0px;
  float: left;
}

#banner {
  width: 100%;
  height: auto;
}

#center_title {
  text-align: center;
}

#center_title2 {
  text-align: center;
}

#move_this {
  margin-top: -15%;
}

.something {
  margin-left: -10%;
  margin-top: 15%;
}

.something_2 {
  margin-left: -10%;
  margin-top: 15%;
}

.something_3 {
  margin-left: -10%;
  margin-top: 15%;
}

.something_else {
  margin-left: -10%;
  margin-top: 15%;
}

.something_else_2 {
  margin-left: -10%;
  margin-top: 15%;
}

.something_else_3 {
  margin-left: -10%;
  margin-top: 15%;
}
}

@media screen and (max-width : 1109px){


#inspiration {
  clear: left;
}

#move_this {
  margin-left: 33.3%;
}

.something {
  margin-top: 15%;
}

.something_2 {
  clear: left;
  margin-top: 15%;
}

.something_3 {
  clear: left;
  margin-top: 15%;
}

.something_else {
  margin-top: 15%;
}

.something_else_2 {
  clear: left;
  margin-top: 15%;
}

.something_else_3 {
  clear: left;
  margin-top: 15%;
}
}

@media screen and (min-width : 1110px){

.something {
  margin-left: 0%;
  margin-top: 15%;
}

.something_2 {
  margin-left: 0%;
  margin-top: 15%;
}

.something_3 {
  margin-left: 0%;
  margin-top: 15%;
}

.something_else {
  margin-left: 0%;
  margin-top: 15%;
}

.something_else_2 {
  margin-left: 0%;
  margin-top: 15%;
}

.something_else_3 {
  margin-left: 0%;
  margin-top: 15%;
}
}

@media screen and (min-width : 1310px){

.something {
  margin-left: 4%;
}

.something_2 {
  margin-left: 4%;
}

.something_3 {
  margin-left: 4%;
}

.something_else {
  margin-left: 4%;
}

.something_else_2 {
  margin-left: 4%;
}

.something_else_3 {
  margin-left: 4%;
}


@media screen and (min-width : 1330px){

.something {
  margin-left: 6%;
}

.something_2 {
  margin-left: 6%;
}

.something_3 {
  margin-left: 6%;
}

.something_else {
  margin-left: 6%;
}

.something_else_2 {
  margin-left: 6%;
}

.something_else_3 {
  margin-left: 6%;
}

@media screen and (min-width : 1415px){

.sidenav {
  display: none;
}

.something {
  margin-left: 8%;
}

.something_2 {
  margin-left: 8%;
}

.something_3 {
  margin-left: 8%;
}

.something_else {
  margin-left: 8%;
}

.something_else_2 {
  margin-left: 8%;
}

.something_else_3 {
  margin-left: 8%;
}
}

@media screen and (min-width : 1446px){

#inspiration {
  clear: left;
}

.sidenav {
  display: none;
}

.something {
  margin-top: 15%;
  margin-left: 8%;
}

.something_2 {
  margin-top: 15%;
  margin-left: 8%;
}

.something_3 {
  margin-top: 15%;
  margin-left: 8%;
}

.something_else {
  margin-top: 15%;
  margin-left: 8%;
}

.something_else_2 {
  margin-top: 15%;
  margin-left: 8%;
}

.something_else_3 {
  margin-top: 15%;
  margin-left: 8%;
}
}

</style>

<p id="home_text_heading">Pure. Natural. Organic.</p>
<p id="home_text"><i>"Essential oils for anxiety. Essential oils for pain. Our herbal supplements will improve your life in more ways than one. Come see what Green Witch has to offer from its cauldron!"</i></p>

<div id="center_image">
<%= image_tag("faq_banner.jpg", :id =>"new_pic") %>
</div>


    <script>

     $(document).ready(function() {

  $(".something").mouseenter(function() {
      $(".something_else").show();
      $(".something").hide();
      $(this).hide();
  });

  $(".something_else").mouseleave(function() {
    $(".something").show();
    $(".something_else").hide();
    $(this).hide();
  });

 $(".something_2").mouseenter(function() {
      $(".something_else_2").show();
      $(".something_2").hide();
      $(this).hide();
  });

  $(".something_else_2").mouseleave(function() {
    $(".something_2").show();
    $(".something_else_2").hide();
    $(this).hide();
  });

   $(".something_3").mouseenter(function() {
      $(".something_else_3").show();
      $(".something_3").hide();
      $(this).hide();
  });

  $(".something_else_3").mouseleave(function() {
    $(".something_3").show();
    $(".something_else_3").hide();
    $(this).hide();
  });

});
    </script>

    <style>

      .something_else {
        display: none;
      }

      .something_else_2 {
        display: none;
      }

      .something_else_3 {
        display: none;
      }

    </style>


<div id="move_this">

 <div class="something"><li><a id="square1" style="text-align: center;">PHILOSOPHY</a></li></a></li></div>
 <div class="something_else"><li><a <%= link_to "It's about more than just a single ingredient or product. We want to englighten and connect you with your own life changing powers.", philosophy_url, :id => "square1_else" %></a></li></div>

 <div class="something_2"><li><a id="square2" style="text-align: center;"">PROCESS</a></li></a></li></div>
 <div class="something_else_2"><li><a <%= link_to "We only source the highest quality ingredients! 0 solvents. 0 pesticides. 0 heavy metals. 0 THC!", ingredients_url, :id => "square2_else" %></a></li></div>

 <div class="something_3"><li><a id="square3" style="text-align: center;">TESTIMONIALS</a></li></a></li></div>
 <div class="something_else_3"><li><a <%= link_to "When you share your stories, it inspires others. And Well, that's the real magic!", testimonials_url, :id => "square3_else" %></a></li></div>

</div>

<p id="inspiration" style="margin-top: 15%; margin-bottom: 2%;">INSPIRATION @SHOPGREENWITCH</p>

<script src="https://snapwidget.com/js/snapwidget.js"></script>
<iframe id="move_instagram" src="https://snapwidget.com/embed/467519" class="snapwidget-widget" allowTransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden; width:100%; margin-left: 0%;"></iframe>



</body>
</html>




