<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<style>
.mySlides {display:none;}
.w3-left, .w3-right, .w3-badge {cursor:pointer}
.w3-badge {height:13px;width:13px;padding:0}

#endorsement {
	margin-left: 10%;
	font-size: 20px; 
	font-family: 'Montserrat', sans-serif;
	font-style: italic;
	text-align: left;
	margin-left: 20%;
	margin-right: 20%;
}

#endorser {
	text-align: right;
	margin-right: 25%;
	font-stretch: condensed;
}

#endorser_description {
	text-align: right;
	margin-right: 25%;
	font-stretch: condensed;
	margin-bottom: 25%;
}

.testimonial_banner {
  width: 100%;
  height: auto;
  margin-top: -10%;
}

@media screen and (max-width : 414px){

body {
  width: 100%;
  margin-right: 13%;
}

.slideshow-container {
  width: 100%;
  position: relative;
  margin-left: -7px;
  margin-top: -20%;
}

#first_pic {
  width: 100%;
  margin-bottom: 20%;
}

#inspiration {
  padding-top: 25%;
}

.testimonial_banner {
  width: 100%;
  height: auto;
}

#label {
  width: 50%;
  margin-right: 25%;
}


#products {
  font-size: 48px;

}

#our_products {
  font: 'avenir next', sans-serif; 
  margin-top: -.5%; 
  font-size: 32px; 
  font-style: italic; 
  text-align: center; 
  margin-bottom: 1%;

}

#our_products_description {
  font: 'Montserrat', sans-serif; 
  font-size: 16px; 
  text-align: justify; 
  margin-top: 0%; 
  margin-right: 3%; 
  margin-left: 3%; 
  padding-bottom: 20%;
  font-stretch: condensed;
}

#move_the_products {
  margin-left: 14%;
}

#label {
  display: none;
}

#endorsement {
	margin-left: 10%;
	font-size: 16px; 
	font-family: 'Montserrat', sans-serif;
	font-style: italic;
	text-align: left;
	margin-left: 10%;
	margin-right: 10%;
}

#endorser {
	text-align: right;
	margin-right: 10%;
	font-stretch: condensed;
}

#endorser_description {
	text-align: right;
	margin-right: 10%;
	font-stretch: condensed;
	margin-bottom: 15%;
}

.slider-wrapper {
  width: 100%;
  height: 20px;
  margin-top: -18px;
  position: relative;
}

.contain_line {
  display: none;
}


@media screen and (min-width : 802px){

.sidenav {
  display: none;
}
}



</style>
<body>


<p id="philosophy_title">TESTIMONIALS</p>
<%= image_tag("new_faq_banner.jpg", :class => "testimonial_banner") %>

<p id="endorsement">"I used CBD oil for the first time from Green Witch. Haven't played active sports in a year and played basketball for the first time, I took my CBD oil at night and avoided being sore the following day. Highly recommended fo anyone at any athletic level."</p>
<p id="endorser">- Keith H.</p>
<br>
<p id="endorsement">"High quality product...very impressed! You can really tell Green Witch is passionate not only about the quality of their ingredients (exclusively USA grown hemp) but also for generating an easy customer experience. Will be back for more!"</p>
<p id="endorser">- Michael R.</p>
<br>
<p id="endorsement">"My oil came in very quickly after I ordered it, and the peppermint flavoring was a clean, subtle taste. Definitely ordering again."</p>
<p id="endorser">- Kevin C.</p>
<br>
<br>


