<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<style>
.mySlides {display:none;}
.w3-left, .w3-right, .w3-badge {cursor:pointer}
.w3-badge {height:13px;width:13px;padding:0}

@media screen and (min-width : 751px){

.banner {
  width: 33%;
  margin-bottom: 2%;
  margin-right: 2%;
  margin-left: 2%;
  margin-top: -5%;
  float: left;
}

#our_products {
  font: 'avenir next', sans-serif;  
  font-size: 28px; 
  text-align: left;
  margin-top: -5%; 
  float: left;
  color: #67bdb3;
  font-weight: 700;
}

#our_products_description {
  font-family: 'Montserrat', sans-serif; 
  font-size: 16px; 
  text-align: left; 
  font-stretch: condensed;
  float: left;
  margin-left: 37%;
  margin-right: 20%;
  margin-top: -18%;
}


#endorsement {
  clear: left;
	margin-left: 10%;
  margin-top: 10%;
	font-size: 20px; 
	font-family: 'Montserrat', sans-serif;
	font-style: italic;
	text-align: justify;
	margin-left: 20%;
	margin-right: 20%;
}

#endorser {
	text-align: right;
	margin-right: 25%;
	font-stretch: condensed;
}

#endorser_description {
	text-align: right;
	margin-right: 25%;
	font-stretch: condensed;
	margin-bottom: 25%;
}

.testimonial_banner {
  width: 100%;
  height: auto;
  margin-top: -10%;
}

#jimmie_endorsement {
  margin-left: 10%;
  margin-right: 10%;
  font-size: 20px; 
  font-family: 'Montserrat', sans-serif;
  font-style: italic;
  text-align: center;
  margin-left: 20%;
  margin-right: 20%;
}

#jimmie_name {
  text-align: center;
  font-stretch: condensed;
}
}

@media screen and (max-width : 750px){

body {
  width: 100%;
  margin-right: 13%;
}

.banner {
  width: 100%;
  margin-bottom: 2%;
  margin-right: 2%;
  margin-top: -5%;
  float: left;
}

#our_products {
  font: 'avenir next', sans-serif;  
  font-size: 28px; 
  margin-top: -5%; 
  color: #67bdb3;
  text-align: center;
  font-weight: 700;
}

#endorsement {
  clear: left;
  margin-left: 10%;
  margin-top: 0%;
  font-size: 20px; 
  font-family: 'Montserrat', sans-serif;
  font-style: italic;
  text-align: justify;
  margin-left: 20%;
  margin-right: 20%;
}

.slideshow-container {
  width: 100%;
  position: relative;
  margin-left: -7px;
  margin-top: -20%;
}

#first_pic {
  width: 100%;
  margin-bottom: 20%;
}

#inspiration {
  padding-top: 25%;
}

.testimonial_banner {
  width: 100%;
  height: auto;
}

#label {
  width: 50%;
  margin-right: 25%;
}


#products {
  font-size: 48px;

}


#our_products_description {
  font: 'Montserrat', sans-serif; 
  font-size: 16px; 
  text-align: justify; 
  margin-top: 0%; 
  margin-right: 3%; 
  margin-left: 3%; 
  padding-bottom: 0%;
  font-stretch: condensed;
}

#move_the_products {
  margin-left: 14%;
}

#label {
  display: none;
}

#endorsement {
	margin-left: 10%;
	font-size: 16px; 
	font-family: 'Montserrat', sans-serif;
	font-style: italic;
	text-align: left;
	margin-left: 10%;
	margin-right: 10%;
}

#endorser {
	text-align: right;
	margin-right: 10%;
	font-stretch: condensed;
}

#endorser_description {
	text-align: right;
	margin-right: 10%;
	font-stretch: condensed;
	margin-bottom: 15%;
}

.slider-wrapper {
  width: 100%;
  height: 20px;
  margin-top: -18px;
  position: relative;
}

.contain_line {
  display: none;
}


@media screen and (min-width : 802px){

.sidenav {
  display: none;
}
}



</style>
<body>

<%= image_tag("new_faq_banner3.jpg", :class => "banner") %>
<p id="our_products">Testimonials</p>
<p id="our_products_description">Do you have a story? We have a coven full of ears. We would love to hear about how Green Witch has made a difference in your life.</p>

<br>
<br>
<br>
<br>
<br>

<p id="endorsement">"My wife told me about CBD oil, and Green Witch gave me the opportunity to try it. I train several hours a day in all aspects off MMA, and teach at my school at night.  CBD oil helps keep my body refreshed after long days of training, as I come closer to becoming the UFC Bantamweight Champion.  I have recommended it to my teammates and coaches throughout my experience."</p>
<p id="endorser"><b>-Jimmie Rivera - <i>UFC Champion (21-1 Record)</b></i></p>
<br>
<p id="endorsement">"I used CBD oil for the first time from Green Witch. Haven't played active sports in a year and played basketball for the first time, I took my CBD oil at night and avoided being sore the following day. Highly recommended fo anyone at any athletic level."</p>
<p id="endorser"><b>- Keith H.</b></p>
<br>
<p id="endorsement">"High quality product...very impressed! You can really tell Green Witch is passionate not only about the quality of their ingredients (exclusively USA grown hemp) but also for generating an easy customer experience. Will be back for more!"</p>
<p id="endorser"><b>- Michael R.</b></p>
<br>
<p id="endorsement">"My oil came in very quickly after I ordered it, and the peppermint flavoring was a clean, subtle taste. Definitely ordering again."</p>
<p id="endorser"><b>- Kevin C.</b></p>
<br>
<br>


