<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
 
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<style>
.mySlides {display:none;}
.w3-left, .w3-right, .w3-badge {cursor:pointer}
.w3-badge {height:13px;width:13px;padding:0}

#submit{
  text-align: center;
  background-color: #67bdb3;
  margin-bottom: 40px;
  border-radius: 25px;
  padding: 15px;
}

#center_search_bar {
  text-align: center;
}

#coming_soon {
  font-size: 36px;
  font-family: 'avenir next', sans-serif;
  color: #67bdb3;
  text-align: center;
}

#locations_title {
font-weight: bold;

}

@media screen and (max-width : 414px){

#submit{
  text-align: center;
  background-color: #67bdb3;
  margin-bottom: 40px;
  border-radius: 25px;
  padding: 15px;
}

#locations_title {
   margin-top: 1%;
  font-size: 28px;
  font-family: 'avenir next', sans-serif;
  text-align: center;
  font-weight: bold;
  color: #67bdb3;
}

#address {
  margin-left: 2%;
}

.controls {
  background-color: #fff;
  border-radius: 2px;
  border: 1px solid transparent;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  height: 29px;
  margin-left: 17px;
  margin-top: 10px;
  outline: none;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 400px;
}

.controls:focus {
  border-color: #4d90fe;
}
.title {
  font-weight: bold;
}
#infowindow-content {
  display: none;
}
#map #infowindow-content {
  display: inline;
}


#map {
  float: right;
  height: 100%;
  width: 100%;
  margin-right: 0%;
}
}


@media screen and (max-width : 802px){
    /*Make dropdown links appear inline*/
    ul {
        position: static;
        display: none;
    }
    /*Create vertical spacing*/
    li {
        margin-bottom: -2px;
    }
    /*Make all menu links full width*/
    ul li, li a {
        width: 100%;
    }
    /*Display 'show menu' link*/
    .show-menu {
        display:block;
    }

    .line { width: 25px;
    height: 3px;
    background-color: black;
    margin: 2px 0;
    cursor: pointer;
}


/* Optional: Makes the sample page fill the window. */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
.controls {
  background-color: #fff;
  border-radius: 2px;
  border: 1px solid transparent;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  height: 29px;
  margin-left: 17px;
  margin-top: 10px;
  outline: none;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 400px;
}

.controls:focus {
  border-color: #4d90fe;
}
.title {
  font-weight: bold;
}
#infowindow-content {
  display: none;
}
#map #infowindow-content {
  display: inline;
}


@media screen and (max-width : 999px){
    /*Make dropdown links appear inline*/

/* Optional: Makes the sample page fill the window. */

.controls {
  background-color: #fff;
  border-radius: 2px;
  border: 1px solid transparent;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  height: 29px;
  margin-left: 17px;
  margin-top: 10px;
  outline: none;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 400px;
}

.controls:focus {
  border-color: #4d90fe;
}
.title {
  font-weight: bold;
}
#infowindow-content {
  display: none;
}
#map #infowindow-content {
  display: inline;
}

#map {
        clear: right;
        height: 500px;
        width: 300px;
        margin-right: 5%;
      }
}

#scroll {
  padding-top: 100px;
  text-align: center;
}

}




</style>
<body>

<p id="locations_title">Where To Find Us!</p>
<p id="location_paragraph">Check the locator below to find a store around you that carries Green Witch products. Trust us, that store will become your favorite—if it’s not already!</p><br><br>

<div id="center_search_bar">
<input style="margin-left: 0%; width: 400px; height: 50px;" id="address" type="textbox" placeholder="Enter Location or Zip Code">
      <input style="margin-left: 0%;" id="submit" type="button" value="Find A Store">
</div>  

   <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">

    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
      	float: right;
        height: 55%;
        width: 55%;
        margin-right: 5%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
  



    </style>
  </head>
  <body>
    <div id="map"></div>
    <script>
      function initMap() {
        var javapes1 = {lat: 40.5852, lng: -74.0939}; 
        //  var javapes2 = {lat: 40.6812747, lng: -74.1110481}; 
        // var javapes4 = {lat: 40.5852, lng: -74.0939}; 
      

        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 11,
          center: {lat: 40.5812747, lng: -74.1110481}
        });



   var contentString = '<div id="content">'+
      '<div id="siteNotice">'+
      '</div>'+
      '<h1 class="store_name">TASTEBUDS NATURAL FOODS</h1>'+
      '<div id="bodyContent">'+
      '<p><b>1807 Hylan Blvd, Staten Island, NY 10305</b></p>'+
      '<p><%= link_to "Tastebuds Website", "https://www.tastebudssi.com", :id => "website" %><p>' + 
      '<b style="margin-left: 18;"><%= link_to "Close Enough? Get Directions!", "https://www.google.com/maps/dir/1807+Hylan+Blvd,+Staten+Island,+NY+10305//@40.5852519,-74.1290481,13z/data=!4m8!4m7!1m5!1m1!1s0x89c24ec5d2e8a16f:0x57da1899aeae9757!2m2!1d-74.0939428!2d40.585192!1m0", :id => "close_enough" %><b>' +
      '</div>'+
      '</div>';

  var infowindow = new google.maps.InfoWindow({
    content: contentString
  });


  var marker = new google.maps.Marker({
    position: javapes1,
    icon: "/assets/logo_icon.png",
    map: map,
    title: 'Tastebuds Natural Foods'

  });


// var marker2 = new google.maps.Marker({
//     position: javapes2,
//     icon: "/assets/logo_icon.png",
//     map: map,
//     title: 'J&A Vapes'
//   });

// var marker3 = new google.maps.Marker({
//     position: javapes3,
//     icon: "/assets/logo_icon.png",
//     map: map,
//     title: 'J&A Vapes'
//   });

// var marker4 = new google.maps.Marker({
//     position: javapes4,
//     icon: "/assets/logo_icon.png",
//     map: map,
//     title: 'Tastebuds Natural Foods'
//   });

marker.addListener('click', function() {
    infowindow.open(map, marker);
  });

// marker2.addListener('click', function() {
//     infowindow2.open(map, marker2);
//   });

// marker3.addListener('click', function() {
//     infowindow3.open(map, marker3);
//   });

// marker4.addListener('click', function() {
//     infowindow4.open(map, marker4);
//   });


// $(document).ready(function(){
//     $("#locate_store").click(function(){
//         infowindow.open(map, marker);
//     });
// });

// $(document).ready(function(){
//     $("#locate_store2").click(function(){
//         infowindow2.open(map, marker2);
//     });
// });

// $(document).ready(function(){
//     $("#locate_store3").click(function(){
//         infowindow3.open(map, marker3);
//     });
// });

$(document).ready(function(){
    $("#locate_store").click(function(){
        infowindow.open(map, marker);
    });
});


        var geocoder = new google.maps.Geocoder();

        document.getElementById('submit').addEventListener('click', function() {
          geocodeAddress(geocoder, map);
        });

  
      function geocodeAddress(geocoder, resultsMap) {
        var address = document.getElementById('address').value;
        geocoder.geocode({'address': address}, function(results, status) {
          if (status === 'OK') {
            resultsMap.setCenter(results[0].geometry.location);
            var marker = new google.maps.Marker({
              map: resultsMap,
              position: results[0].geometry.location
            });
          } else {
            alert('Geocode was not successful for the following reason: ' + status);
          }
        });
      }
}



    </script>
     <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA8DpcjZR5HcDpG4Igne9gt0QTqFVyzBMk&callback=initMap">
    </script>
  
 
 
  </body>


<div id="center_scroll">
<div id="scroll">
	<p id="state_locations">New York</p>
	<!-- <p class="store">J&A VAPES</p>
	<p class="store">2110 Richmond Rd SI, NY 10306</p>
	<p class="store">718-668-2737</p>
	<p id="locate_store">Locate This Place!</p>
<br> -->
  <p class="store">TASTEBUD'S NATURAL FOODS</p>
  <p class="store">1807 Hylan Blvd, SI, NY 10305</p>
  <p class="store">718-351-8693</p>
  <p id="locate_store">Locate This Place!</p>
<br>
<!-- 	<p class="store">J&A VAPES</p>
	<p class="store">1880 Hylan Blvd, SI, NY 10305</p>
	<p class="store">718-351-0700</p>
	<p id="locate_store3">Locate This Place!</p>
<br>
  <p class="store">J&A VAPES</p>
  <p class="store">2110 Richmond Rd SI, NY 10306</p>
  <p class="store">718-668-2737</p>
  <p id="locate_store2">Locate This Place!</p>
<br> -->
</div>
</div>



  
